@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-green: #0C6640;
  --primary-blue: #0B036B;
  --primary-orange: #FF6F00;;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--primary-green); /* Custom green for navigation arrows */
}

.swiper-pagination-bullet {
  background-color: var(--primary-purple); /* Custom purple for pagination bullets */
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-blue); /* Custom blue for active bullet */
}
